body {
  background: url(pizza-4952508_1920.jpg);
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

form {
  margin-right: 1200px;
  color: #4caf50;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

h1 {
  color: green;
}

h2 {
  color: red;
}

img {
  width: 25%;
  height: 25%;
}

input[type="submit"] {
  margin-top: 10px;
  background-image: linear-gradient(to left bottom, red, green);
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: 1s;
  display: inline-block;
  opacity: 0.5;
}

input[type="submit"]:hover,
input[type="submit"]:active {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to left bottom, green, red);
  color: white;
  opacity: 1;
}

table th {
  color: white;
  background-color: #00bf63;
}

table {
  width: 1380px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  padding: 15px;
  background-color: black;
  color: white;
  border: 1px solid white
}

a {
  color: black;
  margin-left: 20px;
  font-size: 30px;
  transition: all 1s;
  text-decoration: none;
  border-radius: 12px;
  cursor: pointer;
  margin: 5px;
  text-shadow: 2px 2px 4px red;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
}

a:hover {
  color: red;
  text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red;
  opacity: 1;
  scale: 110%;
}

header {
  background-image: url(Element\ as\ BG.png);
  height: 6.7em;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.links li {
  display: inline-block;
  margin: 0 10px;
}

.links li a {
  margin: 0 10px;
  gap: 3em;
}

ul {
  display: flex;
}

.section-title p {
  font-size: 24px;
  font-family: Oleo Script;
  margin-bottom: 0px;
  margin-top: 50px;
}

.section-title h4 {
  font-size: 40px;
  text-transform: capitalize;
  color: #00bf63;
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
}

.section-title h4::before {
  width: 80px;
  height: 1.5px;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
}

.section-title h4::before,
.section-title h4::after {
  position: absolute;
  content: "";
  background-color: #ffffff;
}

.single_menu_list img {
  max-width: 27%;
  position: absolute;
  left: 0px;
  top: 0;
  border: 2px solid #ffffff;
  padding: 3px;
  border-radius: 50%;
  transition: 1.5s;
}

.single_menu_list img:hover {
  max-width: 27%;
  position: absolute;
  left: 0px;
  top: 0;
  border: 2px solid #ffffff;
  padding: 3px;
  border-radius: 50%;
  scale: 90%;
}

.menu_style1 .single_menu_list img {
  position: static;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}

span {
  color: red;
}

